/*Allows for Open Sans font to be used from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Creates form container*/
.container {
	background-color: white;
	margin: 2% 10% 8% 8%;
	padding: 20px;
}

/*Centers header for container*/
.container h2 {
	text-align: center;
}

/*Styles inputs and selects for the container.*/
.container select, input {
	display:block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
  padding: 12px;
}

/*Styles the select box to replace the dropdown arrow with an image*/
.container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('dropdown-arrow.jpg') no-repeat;  /*Image obtained from http://chittagongit.com/images/dropdown-arrow-icon/dropdown-arrow-icon-9.jpg*/
	background-position: 100% 50%;
	text-indent: 0.01px;
	text-overflow: "";
}

/*Styles select options that are invalid when required*/
.container select:required:invalid {
  color: gray;
}

/*Styles select when it is disabled*/
.container select:disabled {
	background-color: #EEE;
}

/*Styles options so that they remain black despite the color of the select value*/
.container option {
  color: black;
}


.container button, input[type=submit] {
	color: white;
	padding: 30px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	width: 100%;
}

/*Makes submit buttons in the container a shade of blue*/
.container input[type=submit] {
	background-color: #2773CB;
}

/*Darkens submit buttons when hovered*/
.container input[type=submit]:hover {
	background-color: #174181;
}

/*Makes buttons green*/
.container button {
	background-color: #00AA70;
}

/*Darkens buttons when hovered*/
.container button:hover {
	background-color: #006400;
}

/*Styles in the form container*/
.container a {
  color: #2773CB;
  text-decoration: none;
	padding-bottom: 10px
}

/*Darkens links when hovered over in the form container*/
.container a:hover {
  color: #174181;
}

/*Places form text to the left*/
.containerlabelleft{
	float: left;
	margin-right: 16px;
	font-weight: bold;
}

/*Places form text to the right*/
.containerlabelright{
	float: right;
	font-weight: bold;
}

/*Allows for form elements to be separated into columns*/
.column {
  float: left;
	padding-right: 1%;
  width: 49%;
}

/*Allows for form elements to be separated into rows*/
.row:after {
  content: "";
  display: table;
  clear: both;
	margin-bottom: 15px;
}

/*Displays small gray words in a paragraph*/
.smallwords p {
	color: gray;
	font-size: 10px;
}

/*Allows for a word to be placed in the middle of a line created by a div*/
.wordline {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.25);
	margin: 3px 0px;
  font-weight: bold;
}

/*Creates a line that allows for a word to be placed in the middle*/
.wordline::before, .wordline::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.25);
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 3px;
}

/*Used restyle form to be readable on screens less than 500 px*/
@media screen and (max-width: 500px) {
	.container {
		font-size: 9px;
	}

  .container select, input{
		padding: 3px;
		font-size: 9px;
	}

	.container button, input[type=submit]
	{
		padding: 15px;
		font-size: 12px
	}

	.container select {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('dropdown-arrow-small.jpg') no-repeat;  /*Image obtained from http://chittagongit.com/images/dropdown-arrow-icon/dropdown-arrow-icon-9.jpg*/
		background-position: 100% 50%;
		text-indent: 0.01px;
		text-overflow: "";
	}

	.row::after{
		margin-bottom: 7px;
	}

	.smallwords p{
		font-size: 7px;
	}


}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
	/*Image obtained from https://www.pexels.com/photo/blue-and-purple-cosmic-sky-956999/*/
  background: url(space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
